:root {
  --bright-blue: hsl(220, 98%, 61%);
  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);
  font-size: 18px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background: url(./images/bg-mobile-dark.jpg);
  background-repeat: no-repeat;
  inline-size: 100%;
  background-size: cover;
  padding-inline: 1rem;
  padding-block-start: 2rem;
  padding-block-end: 5rem;
}
header div {
  display: flex;
  justify-content: space-between;
}
header img {
  max-inline-size: 1.4rem;
  block-size: auto;
  align-items: center;
}
main {
  inline-size: 90%;
  margin-inline: auto;
  color: var(--light-grayish-blue);
}

h1 {
  color: var(--very-light-gray);
}
.add-todo {
  inline-size: 100%;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  background: var(--very-dark-grayish-blue);
  margin-block-end: 1rem;
  padding-inline: 1rem;
  padding-block: 1.2rem;
}
.input-element {
  inline-size: 100%;
  background: var(--very-dark-grayish-blue);
  color: var(--light-grayish-blue);
  border: none;
}
.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  inline-size: 100%;
  background: var(--very-dark-grayish-blue);
  padding: 1rem;
  gap: 1rem;
  border-block-end: 1px solid var(--dark-grayish-blue);
}
.todo-item button {
  background: inherit;
  border: none;
}
.todo-item p {
  flex: 2;
}
.strike-p {
  text-decoration: line-through;
  color: var(--dark-grayish-blue);
}
